// Define variables for your color scheme
$tomato: #EC5B2B;
$hot-pink: rgba(255, 0, 119, 0.75);
$lime: rgb(140, 255, 0);
$lime-light: rgba(140, 255, 0, 0.5);

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
