<nav class="navbar bg-body-tertiary">
  <div class="container-fluid d-flex align-items-center">
    <p>C🥠🍪KB🍩🍅K</p>
    <div class="d-flex">
      <%= link_to 'Home', root_path, class: "pe-2" %>
      <%= link_to 'New category', new_category_path %>
    </div>
  </div>
</nav>
