<div class="banner">
  <h1>Categories</h1>
</div>


<%= link_to 'Add a new category', new_category_path, class: "btn button" %>
<ul>
  <% @categories.each do |category| %>
    <li><%= link_to category.name, category_path(category) %></li>
  <% end %>
</ul>
