<h1><%= @category.name %></h1>

<%= link_to 'Add a new recipe', new_category_bookmark_path(@category) %>

<% @category.recipes.each do |recipe| %>
  <p><%= recipe.name %></p>
<% end %>

<%= link_to 'Return to all categories', root_path %>
